@{
    ViewData["Title"] = "About Joel";
}
<h1>@ViewData["Title"]</h1>

<h3>His Improve Comedy Career</h3>
<p><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
<br>
<h3>His Podcast</h3>
<p><a href="https://baconsale.com/">Baconsale</a></p>
<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" alt="Baconsale Podcast" class="img-fluid" width="400"/></a>
