@model Movie

@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<h4>Add Movies to the Database</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--This is the Movie Creation form for the database-->
        <form method="post">
            <div class="form-group">
                <label asp-for="Category">Category:</label>
                <select asp-for="Category" required>
                    <option value="" hidden disabled selected>Please select an option</option>
                    <option value="action/adventure">Action/Adventure</option>
                    <option value="drama">Drama</option>
                    <option value="miscellaneous">Misc</option>
                    <option value="comdey">Comedy</option>
                    <option value="family">Family</option>
                    <option value="horror/suspence">Horror/Suspence</option>
                    <option value="television">Television</option>
                    <option value="vhs">VHS</option>
                </select>
                <br />
                <label asp-for="Title">Title:</label>
                <input asp-for="Title" required/>
                <br />
                <label asp-for="Year">Year:</label>
                <input asp-for="Year" min="1800" required/>
                <br />
                <label asp-for="Director">Director:</label>
                <input asp-for="Director" required/>
                <br />
                <label asp-for="Rating">Rating:</label>
                <select asp-for="Rating" required>
                    <option value="" hidden disabled selected>Please select an option</option>
                    <option value="G">G</option>
                    <option value="NR">NR</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                    <option value="R?">R?</option>
                    <option value="TV-14">TV-14</option>
                    <option value="TV-G">TV-G</option>
                    <option value="TV-PG">TV-PG</option>
                    <option value="TV-Y7">TV-Y7</option>
                    <option value="UR">UR</option>
                </select>
@*                 The last 3 inputs are optional*@
                <br />
                <label asp-for="Edited">Edited:</label>
                <input type="checkbox" id="EditedCheckbox" />
                <input type="hidden" asp-for="Edited" />
                <br />
                <label asp-for="LentTo">Lent To:</label>
                <input asp-for="LentTo" />
                <br />
                <label asp-for="Notes">Notes:</label>
                <input asp-for="Notes" />
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- This script is used to update the hidden input field when the checkbox is checked or unchecked -->
    <script>
        var checkbox = document.getElementById('EditedCheckbox');
        var hiddenInput = document.querySelector('input[name="Edited"]');

        checkbox.addEventListener('change', function() {
            hiddenInput.value = this.checked ? 'true' : 'false';
        });
    </script>
}
